<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

<div class="reserva-container">
  <h2>📅 Reservar Cancha</h2>

  <div *ngIf="mensaje" class="alert alert-success">
    {{ mensaje }}
  </div>

  <div *ngIf="erroresBackend" class="alert alert-danger">
  <ul>
    <li *ngFor="let err of erroresBackend | keyvalue">
      {{ err.key }}: {{ getPrimerError(err.key) }}
    </li>
  </ul>
</div>

  <form [formGroup]="reservaForm" (ngSubmit)="confirmarReserva()">
    <div class="form-group">
      <label>Cliente:</label>
      <input type="text" formControlName="cliente" class="form-control">
    </div>

    <div class="form-group">
      <label>Teléfono:</label>
      <input type="text" formControlName="telefono" class="form-control">
    </div>

    <div class="form-group">
      <label>Cancha:</label>
      <select formControlName="cancha_id" class="form-control">
        <option value="">-- Seleccione cancha --</option>
        <option *ngFor="let cancha of canchas" [value]="cancha.id">{{ cancha.nombre }}</option>
      </select>
    </div>

    <div class="form-group">
      <label>Fecha:</label>
      <input type="date" formControlName="fecha" class="form-control" (change)="cargarHorarios()">
    </div>

    <div class="form-group">
      <label>Hora inicio:</label>
      <select formControlName="hora_inicio" class="form-control">
        <option value="">-- Seleccione hora --</option>
        <option *ngFor="let hora of horarios" [value]="hora">{{ hora }}</option>
      </select>
    </div>

    <div class="form-group">
      <label>Hora fin:</label>
      <select formControlName="hora_fin" class="form-control">
        <option value="">-- Seleccione hora --</option>
        <option *ngFor="let hora of horarios" [value]="hora">{{ hora }}</option>
      </select>
    </div>

    <div class="form-group">
      <label>Estado:</label>
      <select formControlName="estado" class="form-control">
        <option value="activa">Activa</option>
        <option value="cancelada">Cancelada</option>
        <option value="pendiente">Pendiente</option>
      </select>
    </div>
   <div class="text-center mt-2">
    <button type="submit" class="btn-confirmar" [disabled]="reservaForm.invalid">
        Confirmar Reserva
    </button>
    </div>
  </form>
</div>


